.list-inline a {
	display: inline-block;
}
/* Social networks*/
.space-top {
    padding-top: 10px;
}
.color-fb {
    color: #3b5998;
}

.color-tw {
    color: #55acee;
}

.color-ig {
    color : #9a5d00;
}

.color-li {
    color :#0077B5;
}

.color-tb {
    color:#0e4c61;
}

.color-fk {
    color: #ff0084;
}

.color-ggp {
    color: #d62d20;
}

.color-yt {
    color: #cc181e;
}
