
/* Media Adjustion*/

@media screen and (min-width: 512px) {
    .callout {
        height: 100px;
    }

    .map-container {
        height: 250px;
    }

    .header .card {
        padding: 0;
    }

    .fix-width-container
    {
        max-width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .callout {
        height: 150px;
    }
    .map-container {
        height: 300px;
    }
    .header .card {
        padding: 0;
    }

    .fix-width-container
    {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1024px) {
    .callout {
        height: 200px;
    }
    .map-container {
        height: 400px;
    }
    .header .card {
        padding: 40px;
    }

    .fix-width-container
    {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}